<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<body>
<div th:insert="common/common :: com"></div>
<div class="main main-agileits">

    <div class="main-agilerow">
        <div class="signup-wthreetop">
            <h2>Edit Customer</h2>
        </div>
        <div th:if="${param.error}" align="center">
            Invalid data! Please check again.
        </div>
        <div class="contact-wthree">
            <form th:action="@{/admin/update}" method="post" th:object="${customer}">
                <div class="form-w3step1">
                    <input type="text" th:value="${customer.name}" name="Name" placeholder="Name" required="required"/>
                    <input type="text" th:value="${customer.applicationId}" name="applicationId"/>
                </div>
                <button type="submit">Submit changes</button> 
            </form>
        </div>
    </div>
</div>

</body>
</html>