<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
<body>
<div th:insert="common/common :: com"></div>
<div class="main main-agileits">

    <div class="main-agilerow">
        <div class="signup-wthreetop">
            <h2>Enter Account information</h2>
        </div>
        <div th:if="${param.error}" align="center">
            Please Create Customer before Account Creation
        </div>
        <div class="contact-wthree">
            <form th:action="@{/account/newAccount}" method="post">
                <div class="form-w3step1">
                    <input type="text" name="applicationId" placeholder="ApplicationId" required="required"/>
                    <input type="text" name="name" placeholder="Name" required="required"/>
                    <input type="text" placeholder="AccountNo" name="accountNo" required="required"/>
                    <input type="text" placeholder="Type" name="type" required="required"/>
                    <input type="number" placeholder="Balance" name="balance" required="required"/>
                    <input type="text"  name="cApplicationId" placeholder="Customer ApplicationId" required="required"/>
                </div>
                <input type="submit" value="Add new Account"/>
            </form>
        </div>
    </div>
</div>



</body>
</html>