<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<body>
<div th:insert="common/common :: com"></div>
<div class="main main-agileits">
    <h1>Search Customer by ID</h1>
    <div class="main-agilerow">
        <div class="signup-wthreetop">
        </div>
        <div class="contact-wthree">
            <form th:action="@{/admin/searchCustomer}" method="post">
                <div class="form-w3step1">
                    <select name="option">
                        <option value="EDIT">Edit account information</option>
                        <option value="DELETE">Delete account</option>
                    </select>
                    <input type=text value="" placeholder="APPLICATIONID" name="applicationId" required="required"/>
                    <input type="hidden" value="[[${#httpServletRequest.remoteUser}]]" name="user"/>
                </div>
                <input type="submit" value="Execute"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>